main {
  min-height: 600px;
  padding: 8px 8px;
}
main > h1 {
  margin-left: 320px;
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 40px;
  font-weight: 500;
}
main > section {
  width: 70%;
  margin: auto;
  padding-left: 32px;
}