*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main{
    background-color: #daae9062;
    min-height: 600px;
    padding: 8px 8px;

}

header{
    height: 150px;
    background-image: url(../img/bolsa_cafe_2.jpeg);

}


header > div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.header__cartel{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background-color: #de7307c9;

}


.header__cartel__titulo{
    margin: auto;

}


.header__cartel__boton{
    margin: 0px 8px;
    background-color: transparent;
    border: none;

}


.header__logo{
    height: 100px;
    width: 100px;
    margin: auto 16px;


}


img{
    width: 100%;
}

nav{
    background-color: #36281a;
    height: 32px;

}

nav > ul{
    height: 100%;
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    margin-right: 8px;
    margin: auto 8px auto 0px;

}


nav > ul > li{
    margin: auto 8px;

}

nav > ul > li > a{
    text-decoration: none;
    color:black;
    padding: 8px;

}


/* La Empresa */

.empresa__quienesSomos{
    display: flex;
    padding: 16px;

}


.empresa__quienesSomos__texto{
    margin-right: 32px;

}


.empresa__quienesSomos__foto{
    height: 300px;
    width: 600px;

}


.empresa__queHacemos{
    display: flex;
    flex-direction: row-reverse;
    padding: 16px;
    
}


.empresa__queHacemos__texto{
    margin-left: 32px;

}


.empresa__queHacemos__foto{
    height: 300px;
    width: 600px;

}


.empresa__porqueHacemos{
    display: flex;
    padding: 16px;

}


.empresa__porqueHacemos__texto{
    margin-right: 32px;
    
}


.empresa__porqueHacemos__foto{
    height: 300px;
    width: 600px;

}
