@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'EB Garamond', serif ;
    font-weight:800;
}


main{
    min-height: 600px;
    padding: 8px 8px;
    
    

}


header{
    height: 150px;
    background-image: url(../img/fondo_header.jpg);
    background-size: cover;
    background-position-y: 228px;
    

}


.header__logo{
    height: 100px;
    width: 100px;
    margin-left: 16px;
    margin-top: 25px;
    margin-bottom: 25px;
    
}


nav{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: fit-content;

}

nav > ul{
    height: 100%;
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-right: 8px;
    margin: auto 8px auto 0px;

}


nav > ul > li{
    border-left: 1px solid black;
    
}


nav > ul > li:last-child{
    border-right: 1px solid black;
}


nav > ul > li > a{
    display: block;
    text-decoration: none;
    color:black;
    padding: 8px 30px;
    font-size: 20px;
    
}


nav > ul > li > a:hover{
    background-color: black;
    color:#DBDBDB;

}

main section{
    width: 70%;
    margin: auto;
    padding-left: 32px;
    
}


/* La Empresa */


h1{
    margin-left: 320px;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 40px;
    font-weight: 500;

}

.empresa__quienesSomos{
    display: flex;
    border: 1px solid black;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.418);
    
}


.empresa__quienesSomos h2{
    margin-bottom: 16px;
    font-weight: 500;
    border: 1px solid black;
    width: 100%;
    text-align: center;

}


.empresa__quienesSomos p{
    font-size: 18px;
    font-weight: 400;
}


.empresa__quienesSomos__texto{
    margin: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}


.empresa__quienesSomos__foto{
    height:400px;
    width: 600px;
    align-self: center;
}


.empresa__queHacemos{
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid black;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.418);
   
}


.empresa__queHacemos h2{
    margin-bottom: 16px;
    font-weight: 500;
    border: 1px solid black;
    width: 100%;
    text-align: center;
    
}


.empresa__queHacemos p{
    font-size: 18px;
    font-weight: 400;
}


.empresa__queHacemos__texto{
    margin: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.empresa__queHacemos__foto{
    height: 400px;
    width: 600px;
    align-self: center;
    

}


.empresa__porqueHacemos{
    display: flex;
    border: 1px solid black;
    margin-bottom: 40px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.418);
    
}


.empresa__porqueHacemos h2{
    margin-bottom: 16px;
    font-weight: 500;
    border: 1px solid black;
    width: 100%;
    text-align: center;
    
}


.empresa__porqueHacemos p{
    font-size: 18px;
    font-weight: 400;

}


.empresa__porqueHacemos__texto{
    margin: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.empresa__porqueHacemos__foto{
    height: 400px;
    width: 600px;
    align-self: center;

}


hr{
    margin: 100px auto;
    width: 60%;
    align-self: center;

}


footer{
    height: 150px;
    background-color: black; 
    margin-top: 100px;
}


footer > div{
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    color: #DBDBDB;
    font-weight: 100;
    font-size: 20px;

}


.footer__redes{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

}


footer  div a{
    text-decoration: none;
    color: #DBDBDB;
    width: fit-content;
    padding: 8px;

}


footer  div a:hover{
    color: #36281a;

}


.footer__logo{
    height: 100px;
    width: 100px;
    margin-left: 16px;
    margin-top: auto;
    margin-bottom: auto;
    
}


/* Tienda */

.productos{
    display: flex;
    flex-wrap:wrap;

}


.productos__tarjeta{
    width: 270px;
    height: 380px;
    padding: 8px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 16px;
    margin-bottom: 32px;

}

.productos__tarjeta_separacion{
    margin: 8px;
    width: 80%;

}


.procuctos__tarjeta__foto{
    width: 200px;
    height: 250px;

}


.productos__tarjeta h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin: auto 0;
    text-align: center;

}

.productos__tarjeta p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin: auto 0;

}


.productos__tarjeta a{
    border-radius: 5px;
    background-color: #e1261c;
    text-decoration: none;
    color: white;
    padding: 8px;
    margin-top: 14px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.226);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: 200;

}


.productos__tarjeta a:hover{
    background-color: rgba(0, 0, 0, 0.897);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.541);

}


/* Recorrido */


.recorrido__informacion{
    display: flex;
    border: 1px solid black;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.418);

}


.recorrido__informacion div{
    margin: 32px;
    
}


.recorrido__informacion div h4{
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 500;
    border: 1px solid black;
    text-align: center;

}


.recorrido__informacion div p{
    font-size: 18px;
    font-weight: 400;

}


.recorrido__informacion__reverse{
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid black;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.418);
    
}


.recorrido__informacion__reverse div{
    margin: 32px;

}


.recorrido__informacion__reverse div h4{
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 500;
    border: 1px solid black;
    text-align: center;

}


.recorrido__informacion__reverse div p{
    font-size: 18px;
    font-weight: 400;

}


.recorrido__presentacion{
    display: flex;
    flex-direction: column;
    border:1px solid black;
    padding: 32px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.418);

}


.recorrido__presentacion p{
    font-size: 18px;
    font-weight: 400;
    

}


.recorrido__presentacion h4{
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 500;
    border: 1px solid black;
    text-align: center;

}


.recorrido__presentacion img{
    width: 600px;
    height: 400px;
    align-self: center;
    margin-top: 32px;
    
}


video{
    width: 600px;
    height: 400px;

}


/* Login */


.formulario{
    width: 50%;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.formulario div{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    margin-top: auto;    
    margin-bottom: auto;

}


.formulario  label{
    font-size: 20px;
    font-weight: 200;
    width: 100%;
}




.formulario__fieldset{
    width: 300px;
    height: 60px;
    display: flex;
    justify-content: center;
    font-weight: 200;
    border-radius: 5px;
    border: 1px solid black;
    

}


.formulario__fieldset > legend{
    font-size: 20px;
    font-weight: 200;
}


.formulario__fieldset input{
    margin-left: 32px;

}


.formulario__email{
    margin: 32px 0;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;

}


.formulario__email::placeholder{
    text-align: center;

}


.formulario__contraseña{
    margin: 32px 0;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;

}


.formulario__contraseña::placeholder{
    text-align: center;

}


.formulario__boton{
    background-color: #e1261c;
    border: none;
    padding: 8px 32px;
    border-radius: 5px;
    color: white;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.418);
    margin: 32px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;

}


.formulario__boton:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.897);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.541);

}


/* Contactos */

.contacto{
    width: 70%;
    height: 700px;
    margin: 32px auto;
    display: flex;
    border: 1px solid black;
    padding: 32px;
    align-items: center;

}


.contacto form{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin-right: 16px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;

}


.contacto form label{
    font-size: 20px;
    font-weight: 200;
    margin: 16px 0;
    text-align: center;

}


.contacto form label input{
    width: 80%;
    height: 32px;
    border-radius: 5px;
    border: 1px solid black;

}


.contacto form label input::placeholder{
    text-align: center;

}


.contacto form label textarea{
    width: 90%;
    height: 200px;
    border-radius: 5px;
    border: 1px solid black;

}


.contacto form label textarea::placeholder{
    text-align: center;

}


.contacto__boton{
    background-color: #e1261c;
    border: none;
    padding: 8px 32px;
    border-radius: 5px;
    color: white;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.418);
    margin: 32px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    width: 200px;

}


.contacto__boton:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.897);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.541);

}


.contacto__ubicacion{
    width: 50%;
    border: 1px solid black;

}


.contacto div ul{
    list-style-type: none;

}