.inicio__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    >hr{
     margin: 70px auto;
     width: 60%;
     align-self: center;
     }
    >.card{
         border: 1px solid black;
         --bs-card-border-radius: 0;
         box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.418);
         z-index: 0;
         >.card__porqueHacemos{
             flex-direction: row-reverse;
         }
         >div{
             >div{
                 > img{
                     --bs-border-radius: 0;
                 }
                     > .card-body{
                         > h5{
                             border: 1px solid black;
                             text-align: center;
                             padding: 4px 0;
                             }
                         >p{
                             text-align: center;
                         }
                     }
             }
         }
     }
 }
 