
.inicio__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    >hr{
     margin: 70px auto;
     width: 60%;
     align-self: center;
     }
    >.card{
         border: 1px solid black;
         --bs-card-border-radius: 0;
         box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.418);
         z-index: 0;
         >.card__porqueHacemos{
             flex-direction: row-reverse;
             >div{
                @media (max-width:575px) {
                    display: flex;
                    justify-content: center;
                }
                @media (min-width: 576px) and (max-width:767px) {
                    display: flex;
                    justify-content: center;
                    padding-top: 16px;
                }
                @media(min-width:768px){
                    display: flex;
                    justify-content: end;
                }
             }
         }
         >div{
             >div{
                @media (max-width:575px) {
                    display: flex;
                    justify-content: center;
                }
                @media (min-width: 576px) and (max-width:767px) {
                    display: flex;
                    justify-content: center;
                    padding-top: 16px;
                }
                @media(min-width:768px){
                    display: flex;
                }
                 > img{
                     --bs-border-radius: 0;
                 }
                     > .card-body{
                         > h5{
                             border: 1px solid black;
                             text-align: center;
                             padding: 4px 0;
                             }
                         >p{
                             text-align: center;
                         }
                     }
             }
         }
     }
 }
 