/* Carga */

.loading{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 100;
    >img{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 200px;
        height: 200px;
        animation-name: rotar;
        animation-duration: 4s;
        animation-iteration-count:initial;
    }
}


@keyframes rotar {
    0%{
        transform:rotateZ(0deg) scale(1,1);
        
    }
    13%{
        transform: rotateZ(45deg) scale(2,2);
    
    }
    25%{
        transform:rotateZ(90deg) scale(1,1);

    }
    38%{
        transform:rotateZ(135deg) scale(2,2);

    }
    50%{
        transform:rotateZ(180deg) scale(1,1);

    }
    63%{
        transform:rotateZ(225deg) scale(2,2);

    }
    75%{
        transform:rotateZ(270deg) scale(1,1);

    }
    78%{
        transform:rotateZ(315deg) scale(2,2);

    }
    100%{
        transform:rotateZ(360deg) scale(1,1);

    }
    
}




main{
    min-height: 600px;
    padding: 8px 8px; 
    @media (max-width:575px){
        min-height: 100vh;
    }
    >h1{
        margin-left: 320px;
        margin-top: 32px;
        margin-bottom: 32px;
        font-size: 40px;
        font-weight: 500;
        @media (max-width:575px) {
            margin:0;
            text-align: center;
            margin: 32px 0;
        }
    }
    >section{
        width: 70%;
        margin: auto;
        padding-left: 32px;
        @media (max-width:575px){
            padding: 0;
        }
    }
}
