.recorrido__titulo{
    @media(min-width:575px) and (max-width:991px){
           margin-left: 125px;
    }
}
.section__recorrido{
    padding: 0;
    >hr{
        margin: 70px auto;
        width: 60%;
        align-self: center;
        }
    >.card{
        border: 1px solid black;
        --bs-card-border-radius: 0;
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.418);
        z-index: 0;
        >.row{
            @media(min-width:575px) and (max-width:991px){
                flex-direction: column;
            }
            @media(min-width:991px){
                flex-direction: row;
            }
            div{
                width: 100%;
            }
        }
        .recorrido__video{
            padding: 16px;
            > video{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }  
        }
        .recorrido__reverso{
            flex-direction: row-reverse;
            @media(min-width:575px) and (max-width:991px){
                flex-direction: column;
            }
        }
        > img{
            width: 50%;
            height: 50%;
            margin: 16px;
            align-self: center;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
         .card-body{
            width: 100%;
            > p{
                text-align: center;
            }
            > h5{
                border: 1px solid black;
                text-align: center;
                padding: 4px 0;
                }
        }
    }
}
